<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739056357882-jnpfjcr9qflb00alepbqoqsjsrghojfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739056357882-jnpfjcr9qflb00alepbqoqsjsrghojfo</string>
	<key>API_KEY</key>
	<string>AIzaSyCIl_W5ZMEdyidcVaN5uWDPBZ4mmYLT1is</string>
	<key>GCM_SENDER_ID</key>
	<string>739056357882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.enfit.modooClass</string>
	<key>PROJECT_ID</key>
	<string>modooclass-83b30</string>
	<key>STORAGE_BUCKET</key>
	<string>modooclass-83b30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:739056357882:ios:61b74394849d623c</string>
	<key>DATABASE_URL</key>
	<string>https://modooclass-83b30.firebaseio.com</string>
</dict>
</plist>
